ENVIRONMENT=development

## UserService DB env variables
USER_DB_USER=
USER_DB_PASSWORD=
USER_DB_NAME=
USER_DB_URL=
USER_PORT=8081
USER_REDIS_ADDR=
USER_REDIS_HOST=
USER_REDIS_PASSWORD=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
## TTL in seconds
ACCESS_TOKEN_TTL=
REFRESH_TOKEN_TTL=